[Unit]
Description=Gunicorn daemon to serve my flaskapp
After=network.target

[Service]
User=cyberdashboard
Group=cyberdashboard
WorkingDirectory=/usr/bin/dashboard/cyber-dashboard-flask/server
ExecStart=gunicorn app:server

[Install]
WantedBy=multi-user.target